:root {
    --primary-color: #138ff4;
    --primary-text: #fff;
    --primary-hover: #1782da;

    --secondary-color: #fff;
    --secondary-text: #138ff4;
    --secondary-hover: #fbfbfb;


    --success-color: #3dcb55;
    --success-text: #ffffff;
    --success-hover: #43be4c;


    --basic-card-border: #9d2a2a;
    --basic-card-color: rgba(207, 207, 207, 0.5);


    --basic-input-color: #F3F3F3;
    --basic-input-placeholder: #868686;

}


/* Primary */
.primary-bg {
    background-color: var(--primary-color);
}

.primary {
    color: var(--primary-text);
}

.primary-btn {
    transition: 0.3s ease-in-out;
}

.primary-btn:hover {
    background-color: var(--primary-hover);
}

.primary-border {
    border-color: var(--primary-color);
}

/* Secondary */
.secondary-bg {
    background-color: var(--secondary-color);
}

.secondary {
    color: var(--secondary-text);
}

.secondary-border {
    border-color: var(--secondary-color);
}

/* Success */
.success {
    color: var(--success-text);
}

.success-bg {
    background-color: var(--success-color);
}

.success-btn {
    transition: 0.3s ease-in-out;
}

.success-btn:hover {
    background-color: var(--success-hover);
}

/* Animations */
.animation-blink {
    animation: blink 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}


/* Card BG */
.basic-card {
    background-color: var(--basic-card-color);
    border: 1px solid var(--basic-card-border);
}

.basic-card-img {
    background: url('/src/imgs/card-bg.jpg') center center/cover no-repeat;
}

.basic-card-grad {
    background: rgb(34, 23, 106);
    background: -moz-linear-gradient(90deg, rgba(34, 23, 106, 1) 0%, rgba(174, 174, 255, 1) 45%, rgba(33, 31, 107, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(34, 23, 106, 1) 0%, rgba(174, 174, 255, 1) 45%, rgba(33, 31, 107, 1) 100%);
    background: linear-gradient(90deg, rgba(34, 23, 106, 1) 0%, rgba(174, 174, 255, 1) 45%, rgba(33, 31, 107, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22176a", endColorstr="#211f6b", GradientType=1);
}



/* fields */
.basic-input {
    background-color: var(--basic-input-color);
}


.basic-input-placeholder,
.basic-input-placeholder::placeholder {
    color: var(--basic-input-placeholder);
}

.image-btn {
    background-image: url('./imgs/profile.jpg');
    background-size: cover;
    background-position: center;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}